<h1>About this app</h1>
This is a simple app that stores a list of friends per user. It is based a
<a href="https://www.youtube.com/watch?v=fmyvWz5TUWg">Ruby on Rails class</a>
on YouTube. The class has an introduction to models, views and controllers in rails,
generating them, generating scaffold, basics of devise gem for user management,
some <a href="https://getbootstrap.com/">bootstrap</a> usage for styling,
basic git/<a href="https://github.com/">github</a> flow, and hosting the project on
<a href="https://www.heroku.com/">heroku</a>.

This app makes sure that viewing/updating friend list is possible only after
logging in and one user does not have access to other users friends.
